/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

div.container {
  width: 876px;
  margin: 0 auto;
  font-size: 0px;
}

header {
  width: 100%;
  margin: 0 auto;
}

nav {
  margin: 35px 0 75px 0;
}

nav ul {
  display: inline-block;
  width: 600px;
}

nav ul li {
  display: inline-block;
  color: #cecece;
  font-weight: bold;
  font-size: 15px;
  margin-right: 60px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav div.img {
  display: inline-block;
  width: 192px;
  margin-left: 80px;
}

div.hero {
  display: inline-block;
}

div.hero-headline {
  display: inline-block;
  width: 50%;
}

div.hero-headline h2 {
  font-size: 82px;
  text-align: center;
}

div.hero-headline-button {
  width: 175px;
  border: 1px solid black;
  padding: 8px 10px;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
}

div.hero-image {
  display: inline-block;
  width: 50%;
}

div.hero-image img {
  margin-left: 48px;
}

section {
  width: 100%;
  margin: 0 auto;
}

section div {
  font-size: 16px;
  line-height: 1.2;
}

section.first-content {
  margin-top: 100px;
  margin-bottom: 50px;
  border-top: 1px solid black;
  padding-top: 40px;
}

section.first-content div {
  display: inline-block;
  width: 50%;
  padding: 0 10px;
}

div.middle-img {
  width: 100%;
  margin-bottom: 50px;
}

section.second-content div {
  display: inline-block;
  width: 33.33%;
  padding: 0 10px;
}

footer {
  width: 100%;
  margin: 0 auto;
}

div.contact {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid black;
  padding-top: 40px;
  font-size: 16px;
  line-height: 1.2;
}

div.contact p {
  margin: 15px 0;
}

div.contact div.copyright {
  margin-top: 30px;
  text-align: center;
}
